*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ffffff;
    color:#111827;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111827;
}

.logo{
    color:white;
    font-size:22px;
    font-weight:bold;
}

.navbar ul{
    display:flex;
    gap:20px;
    list-style:none;
}

.navbar a{
    color:white;
    text-decoration:none;
}

/* HERO */
.hero{
    height:90vh;
    background:#0f172a;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    max-width:600px;
    margin-bottom:25px;
    color:#cbd5e1;
}

.btn{
    background:#2563eb;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
}

/* TOOLS */
.tools{
    padding:80px 10%;
}

.tools h2{
    text-align:center;
    margin-bottom:40px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    border:1px solid #e5e7eb;
    padding:20px;
    border-radius:12px;
    text-decoration:none;
    color:#111827;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

/* ABOUT */
.about{
    padding:80px 10%;
    text-align:center;
    background:#f9fafb;
}

.about p{
    max-width:700px;
    margin:auto;
    color:#4b5563;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#111827;
    color:white;
}